.fill {
  background-color: lightslategray;
  height: 100vh;
}
.navSetting {
  background-color: white;
  font-family: "Lato", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 4px;
  box-shadow: black 2px 2px 0 0;
}

.tableBackground {
  background-color: white;
}
